<!DOCTYPE html>
<head>
  <title>AP Exam Review</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>


<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home/">Overview</a>
      <a class="navbar-brand" href="/">Problems</a>
    </nav>
    <div class="row text-center">
      <h3>AP Physics 1 Exam Review</h3>
    </div>
    <div class="row">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Unit 1: Kinematics
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <a href="/unit/1/1" class="list-group-item list-group-item-action">1.1 Position, Velocity, and Acceleration</a>
              <a href="/unit/1/2" class="list-group-item list-group-item-action">1.2 Representations of Motion</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Unit 2: Dynamics
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <a href="/unit/2/1" class="list-group-item list-group-item-action">2.1 Systems</a>
              <a href="/unit/2/2" class="list-group-item list-group-item-action">2.2 The Gravitational 2 Field 7</a>
              <a href="/unit/2/3" class="list-group-item list-group-item-action">2.3 Contact Forces</a>
              <a href="/unit/2/4" class="list-group-item list-group-item-action">2.4 Newton’s First Law</a>
              <a href="/unit/2/5" class="list-group-item list-group-item-action">2.5 Newton’s Third Law and Free-Body Diagrams</a>
              <a href="/unit/2/6" class="list-group-item list-group-item-action">2.6 Newton’s Second Law</a>
              <a href="/unit/2/7" class="list-group-item list-group-item-action">2.7 Applications of Newton’s Second Law  </a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Unit 3: Circular Motion and Gravitation
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <a href="/unit/3/1" class="list-group-item list-group-item-action">3.1 Vector Fields</a>
              <a href="/unit/3/2" class="list-group-item list-group-item-action">3.2 Fundamental Forces</a>
              <a href="/unit/3/3" class="list-group-item list-group-item-action">3.3 Gravitational and Electric Forces </a>
              <a href="/unit/3/4" class="list-group-item list-group-item-action">3.4 Gravitational Field / Acceleration Due to Gravity on Different Planets</a>
              <a href="/unit/3/5" class="list-group-item list-group-item-action">3.5 Inertial vs. Gravitational Mass </a>
              <a href="/unit/3/6" class="list-group-item list-group-item-action">3.6 Centripetal Acceleration and Centripetal Force </a>
              <a href="/unit/3/7" class="list-group-item list-group-item-action">3.7 Free-Body Diagrams for Objects in Uniform Circular Motion </a>
              <a href="/unit/3/8" class="list-group-item list-group-item-action">3.8 Applications of Circular Motion and Gravitation  </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>